.fileName,
.folderName {
  font-size: 12;
  color: brown;
}

.fileImage {
}
.dropDown {
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  top: 12px;
}
.dropDown button {
  padding: 3px;
}
.fileContent {
  padding: 12px;
}
